nav {
  width: 100%;
  height: 50px;
  background-color: #070038;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    justify-content: center;
    text-decoration: none;
    margin: 0 auto;
    color: #fff;
  }
}
